<!-- Services Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">A great day about Agile Development.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">It's about agile</h4>
                    <p class="text-muted">The Agile Tour Vienna is a non-profit event that aims at bringing together experts, practioners and everybody else who is interested in agile software development. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comment fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Top Speaker</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa  fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Global</h4>
                    <p class="text-muted">The main conference language is German but we welcome talks in English and are looking forward to an exchange with international participants.</p>
                </div>
            </div>
            <div class="row" style="margin-top: 50px">
                <div class="col-lg-12 text-center">
                    <h3 class="quote section-subheading text-muted">"Thanks for organising a fantastic Agile Tour Vienna. Really glad to be a part of it" - Dan North</h3>
                    <h3 class="quote section-subheading text-muted">"Think outside the box with motivating speakers, a social crowd and delicious coffee" - Visitor 2015</h3>
                    <h3 class="quote section-subheading text-muted">"Super Event zu einem Super Preis!" - Visitor 2014</h3>
                    <h3 class="quote section-subheading text-muted">"Worth spending a sunny Saturday indoors! :)" - Visitor 2013</h3>

                </div>

            </div>
        </div>
    </section>