{% if site.showRegister == true %}
<!-- Team Section -->
<section id="bootcamp" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    Bootcamp
                </h2>
                <h3 class="section-subheading text-muted">
                    <p>Learn the basics and dive into Agile. Led by experts.</p>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>The bootcamp focuses specifically on Agile newcomers. <a href="#team">Florian Eckkrammer, Christian Hassa, Rudolf Grötz, Ralph Miarka and Veronika Kotrba</a> will introduce the basics in four aligned sessions.</p>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Title</th>
                        <th>Presenter</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>14:00</td>
                        <td>Begrüßung</td>
                        <td>-</td>
                    </tr>
                    <tr class="lession">
                        <td>14:10</td>
                        <td><a href="#modal-bootcamp-agile-einfuehrung" data-toggle="modal">Agile - Eine Einführung</a></td>
                        <td>Florian Eckkrammer</td>
                    </tr>
                    <tr>
                        <td>15:40</td>
                        <td>Pause</td>
                        <td>-</td>
                    </tr>
                    <tr class="lession">
                        <td>15:50</td>
                        <td><a href="#modal-bootcamp-agiles-anforderungsmanagement" data-toggle="modal">Einführung in Agile Requirements: User Stories, Backlogs, & Beyond</a></td>
                        <td>Christian Hassa</td>
                    </tr>
                    <tr>
                        <td>16:40</td>
                        <td>Brötchen/Getränke/Networking</td>
                        <td>-</td>
                    </tr>
                    <tr class="lession">
                        <td>17:10</td>
                        <td><a href="#modal-bootcamp-agile-testing" data-toggle="modal">Agile Testing - Für die Qualität ist das gesamte Team zuständig!</a></td>
                        <td>Rudolf Grötz</td>
                    </tr>
                    <tr>
                        <td>18:00</td>
                        <td>Pause</td>
                        <td>-</td>
                    </tr>
                    <tr class="lession">
                        <td>18:10</td>
                        <td><a href="#modal-bootcamp-agile-leadership" data-toggle="modal">Agile Leadership</a></td>
                        <td>Ralph Miarka & Veronika Kotrba</td>
                    </tr>
                    <tr>
                        <td>19:00</td>
                        <td>Q&A und Verabschiedung</td>
                        <td>-</td>
                    </tr>
                    </tbody>
                </table>

                <div><i>All content will be presented in <b>German</b>.</i></div>

                <div class="date">
                    <div style="margin-bottom: 10px"><a href="https://github.com/agiletourvienna/agiletourvienna.github.io/raw/master/_upload/AgileTour2017-Bootcamp.pdf" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Gesamtes Programm als PDF</a></div>
                    <div><i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;24 November 2017 (2 pm - 7 pm) at FH Technikum Wien</div>
                </div>

                <a href="#register"
                   class="page-scroll btn btn-xl">Get your ticket</a>
            </div>
        </div>
    </div>
</section>

<!-- Modal Session: Agile - Eine Einführung -->
<div class="speaker-modal modal fade" id="modal-bootcamp-agile-einfuehrung" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Agile - Eine Einführung</h2>
                        <h3>Florian Eckkrammer</h3>
                        <hr class="star-primary">
                        <p>Diese Session behandelt die Grundlagen der agilen Entwicklung und warum sich diese Vorgehensmodelle in weiten Bereichen der Softwareentwicklung etabliert haben. Es wird ein Überblick über den gesamten Software Life Cycle gegeben und wie agile Modelle diesen abdecken. Dabei werden Analogien zu Projekten abseits der Softwareentwicklung gezogen und betrachtet.</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Session: Agile - Agiles Anforderungsmanagement: User Stories und Beyond -->
<div class="speaker-modal modal fade" id="modal-bootcamp-agiles-anforderungsmanagement" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Agiles Anforderungsmanagement: User Stories und Beyond</h2>
                        <h3>Christian Hassa</h3>
                        <hr class="star-primary">
                        <p>Neben Hardware und Software spielt bei der Entwicklung immer eine dritte Komponente eine wichtige Rolle: Peopleware. Wie gut auch immer wir vorausplanen, das Verhalten von Benutzern und Stakeholdern lässt sich bestenfalls vorausahnen, niemals aber mit bestimmter Sicherheit vorhersagen.</p>
                        <p>Agile Methoden sind genau auf diese Unvorhersehbarkeit der von uns entwickelten Systeme optimiert. Dies hat eine fundamentale Auswirkung darauf, wie man in agiler Entwicklung mit „Anforderungen“ umgeht.</p>
                        <p>Die Session gibt nicht nur eine Einführung in Artefakte, Kommunikationstechniken und Methoden zur Steuerung agiler Entwicklung durch den Auftraggeber, sondern erklärt auch die Hintergründe der Herangehensweise.</p>
                        </p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Session: Agile Testing-->
<div class="speaker-modal modal fade" id="modal-bootcamp-agile-testing" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Agile Testing: Für die Qualität ist das gesamte Team zuständig! </h2>
                        <h3>Rudolf Grötz</h3>
                        <hr class="star-primary">
                        <p>Agiles Testen ist zu einem unverzichtbaren Bestandteil agiler Softwareentwicklung geworden. Testen in agilen Entwicklungsprojekten unterscheidet sich vom klassischen Testen in erster Linie dadurch, dass Testen eine präventive Maßnahme ist und dass die Tests viel häufiger ausgeführt werden müssen. Diesen Anforderungen wird man in erster Linie durch Continuous Integration und Testautomatisierung gerecht.</p>
                        <p>Massive Testautomatisierung hat ihre Vorteile, wenn es um die frühzeitige Vermeidung von Regressionen geht. Allerdings gibt es trotz massiver Testautomatisierung immer noch Lücken in der Testabdeckung. Diese Lücken können gezielt und auch strukturiert mit Explorativen Tests geschlossen werden. In agilen Projekten müssen Tester durch die massive Testabdeckung allerdings nicht mehr den einfachsten Fehlern hinterher suchen, sondern können sich gezielt auf die wichtigen und fehleranfälligen Bereiche beschränken.</p>
                        <p>In dieser Session beschäftigen wir uns mit dem Unterschied zwischen Testen in klassischen Entwicklungsprojekten und dem Testen in agilen Projekten. Wir erklären die Werte, Prinzipien und Praktiken, die notwendig sind um in agilen Projekten erfolgreich zu sein.</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Session: Agile Leadership -->
<div class="speaker-modal modal fade" id="modal-bootcamp-agile-leadership" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Agile Leadership</h2>
                        <h3>Ralph Miarka & Veronika Kotrba</h3>
                        <hr class="star-primary">
                        <p>Jedes Unternehmen, das etwas auf sich hält, möchte heute "agil" werden. Übersetzt wird dieses Wort zumeist mit den Begriffen "schneller, besser und billiger". Was dabei jedoch häufig übersehen wird ist, dass Agilität zumeist mit einem massiven Unternehmenskulturwandel einhergeht. Dieser muss zugelassen werden, damit nachhaltige Ergebnisse sichtbar werden können.</p>
                        <p>Und am Beginn eines solchen Wandels steht - die Führungskultur eines Unternehmens (und nicht etwa jene der Teams). Wenn Führungskräfte beginnen, sich als Unterstützer und Ermöglicher zu verstehen anstatt als Vorarbeiter, wenn sie anfangen, ihren Mitarbeitern zu vertrauen, wenn sie echte Experimente zulassen, also auch deren Scheitern als Lernschritt begrüßen, wenn sie Rahmenbedingungen schaffen, in denen sich alle Beteiligten sicher fühlen, dann kann Selbstorganisation entstehen.</p>
                        <p>In dieser Session geht es um die Grundpfeiler agiler Führung, um Führen und Folgen und um die Bedeutung des fünften agilen Werts.</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}


