<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <h4>Organisers:</h4>
        <div class="row">
            {% for organiser in site.organisers %}
            <div class="col-sm-4">
                <a href="{{organiser.link}}" target="_blank">
                    <img src="img/partners/{{organiser.pic}}.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            {% endfor %}
        </div>
        <h4>Sponsors:</h4>
        <div class="row sponsors">
            {% for sponsor in site.sponsors %}
            <div class="col-sm-6 sponsor">
                <a href="{{sponsor.link}}" target="_blank">
                    <img src="img/partners/{{sponsor.pic}}.png" class="img-responsive img-centered" alt="">
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="row sponsors">
            <a href="http://www.xing.com/net/scrumaustria/" target="_blank">
                    <img src="img/partners/scrumusergroup.png" class="img-responsive img-centered" alt="">
            </a>
        </div>
        <div class="row text-center" style="margin: 60px">
            <a href="https://github.com/agiletourvienna/agiletourvienna.github.io/wiki/Become-a-Partner" target="_blank" class="page-scroll btn btn-xl">Become a sponsor</a>
        </div>
    </div>
</aside>
