<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <h4>Organisers:</h4>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <a href="#">
                        <img src="img/partners/techtalk.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-4">
                    <a href="#">
                        <img src="img/partners/sinnvollfuehren.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-4">
                    <a href="#">
                        <img src="img/partners/technikum.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>

            <div class="row">
            <h4>Sponsors:</h4>
                <div class="col-md-6 col-sm-6">
                    <a href="#">
                        <img src="img/partners/frequentis.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-sm-6">
                    <a href="#">
                        <img src="img/partners/scrumusergroup.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>