{% if site.showContribution == true %}
<section id="contribute" class="dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Become a volunteer</h2>
                <h3></h3>
            </div>
        </div>
        <div class="row">
                <div class="col-md-6 col-md-offset-3" style="color:white; margin-bottom: 50px;">
                    <p>
                        You want to join an exciting team of volunteers and contribute to making this conference an unforgettable experience for the attendees, speakers, and partners? Just apply and we will get in touch with you for a short talk about your role at the conference.
                    </p>
                    <h4><i class="fa fa-star" aria-hidden="true"></i> Your Benefits</h4>
                    <ul>
                        <li><i class="fa fa-dollar" aria-hidden="true"></i> The conference is not only an experience for you, but also free</li>
                        <li><i class="fa fa-clock-o" aria-hidden="true"></i> Your work will take a maximum of half of the conference time</li>
                        <li><i class="fa fa-commenting-o" aria-hidden="true"></i> Network with rockstar speaker and people from the community</li>
                        <li><i class="fa fa-cutlery" aria-hidden="true"></i> Of course we also provide free food and drinks during the event</li>
                        <li><i class="fa fa-binoculars" aria-hidden="true"></i> Get an insight into the organization of a conference</li>
                    </ul>
                    <h4><i class="fa fa-check-circle" aria-hidden="true"></i> What needed to be done</h4>
                    <div class="row">
                        <div class="col-md-4"><h5>Registration</h5><div>You are responsible for the smooth check-in of attendees and speakers</div></div>
                        <div class="col-md-4"><h5>Timekeeping</h5><div>Keep track of the time at each session, either in the morning or the afternoon.</div></div>
                        <div class="col-md-4"><h5>Stage Support</h5><div>You are making sure everything on stage runs smoothly.</div></div>
                    </div>
                    <div>
                        <div style="margin: 80px 0 20px"><b><i>Don't wait too long - places are limited.</i></b></div>
                        <a href="mailto:info@agiletourvienna.at" target="_blank" class="page-scroll btn btn-xl">Apply as volunteer</a>
                    </div>
            </div>
            </form>
        </div>
    </div>
    </div>
</section>
{% endif %}