<footer>
    <div class="container">
        <h4>Contact:</h4>
        <div class="row">
            <p class="contact-email" style="font-weight: bold; margin: 2rem 0 4rem 0">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;
                Leave us an email: <a href="mailto:info@agiletourvienna.at">info@agiletourvienna.at</a>
            </p>
        </div>
        <div class="row">
            <div>
                <p><a href="#impressumModal" data-toggle="modal">Impressum</a> | <a
                        href="http://www.agile-world.com/agiletour_index.html" target="_blank">Agile Tour - An
                    International Event</a></p>
                <p>open-source &amp; proudly hosted by
                    <a href="https://github.com/agiletourvienna/agiletourvienna.github.io" target="_blank"><i
                            class="fa fa-github" aria-hidden="true"></i>&nbsp;github</a></p>
            </div>
        </div>
    </div>
</footer>
<a class="feedback-trigger" href="https://docs.google.com/forms/d/1nj4hgUS26p-jigrHylhxDyyk3VXDYddsxzYpmxpr2pE/viewform"
   target="_blank">GIVE US <br> FEEDBACK</a>
<div class="speaker-modal modal fade" id="impressumModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Impressum</h2>
                        <hr class="star-primary">
                        <div>
                            <h4>Stellvertretend für die Veranstalter:</h4>
                            <p>
                                <a href="http://www.techtalk.at/" target="_blank">TechTalk Software Support
                                    Handelsges.m.b.H.</a><br>
                                Leonard-Bernstein-Straße 10<br>
                                1220 Wien<br>
                                Österreich<br>
                                Tel: +43 (1) 402 35 96-0<br>
                                Fax: +43 (1) 402 35 96-55<br>
                                E-Mail: <a href="mailto:welcome@techtalk.at">welcome@techtalk.at</a><br>
                                <br>
                                Gesellschafter: Christian Hassa<br>
                                Mag. Franz Noll<br>
                                Andreas Rosenthal MSc MBA<br>
                                Firmenbuch: FN-34728x<br>
                                Handelsgericht Wien<br>
                                UID Nummer: ATU 161 52 400<br>
                                Wirtschaftskammer: Wirtschaftskammer Österreich<br>
                                Fachgruppe: Unternehmensberatung und Informationstechnologie,<br>
                                IT Dienstleistungen<br>
                                &nbsp;</p>
                            <h4>
                                Copyright</h4>
                            <p>
                                Jegliche Inhalte wie z.B. Texte, Bilder, Grafiken etc. sowie die Gestaltung der Website
                                der Agile Tour Wien unterliegen dem Urheberrecht sowie weiterer Schutzgesetze. Sämtliche
                                Inhalte dürfen nicht zu gewerblichen Zwecken kopiert, verbreitet, verändert oder Dritten
                                zugänglich gemacht werden. Alle Links zu externen Seiten sind sorgfältig ausgewählt. Da
                                die Veranstalter der Agile Tour auf deren Inhalt keinen Einfluss hat, übernehmen
                                sie dafür keine Verantwortung.<br>
                                &nbsp;</p>
                            <h4>
                                Google Analytics Datenschutzhinweis</h4>
                            <p>
                                Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc.
                                („Google“). Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem
                                Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie
                                ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser
                                Website werden in der Regel an einen Server von Google in den USA übertragen und dort
                                gespeichert.</p>
                            <p>
                                Auf dieser Website ist die IP-Anonymisierung aktiviert; d.h. dass Ihre IP-Adresse von
                                Google innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen
                                Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt wird.
                                Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA
                                übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese
                                Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die
                                Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der
                                Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen.
                                Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht
                                mit anderen Daten von Google zusammengeführt.</p>
                            <p>
                                Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer
                                Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall
                                gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen
                                können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf
                                Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die
                                Verarbeitung dieser Daten durch Google verhindern, indem Sie das unter dem folgenden
                                Link verfügbare Browser-Plugin herunterladen und installieren: <a
                                    href="http://tools.google.com/dlpage/gaoptout?hl=de" target="_blank">http://tools.google.com/dlpage/gaoptout?hl=de</a>.
                            </p>


                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

