<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="top-logo navbar-brand page-scroll" href="#page-top"><img
                    src="{{ site.baseurl }}/img/logo-small.png"> </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#speaker">Speakers</a>
                </li>
                <li>
                    <a class="page-scroll" href="#schedule">Schedule</a>
                </li>
                <li>
                    <a class="page-scroll" href="#register">Register</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#lookback">LookBack</a>
                </li>
                {% if site.showCallForProposals == true %}
                <li>
                    <a class="page-scroll" href="#proposal">Proposals</a>
                </li>
                {% endif %}
                <li>
                    <a class="page-scroll" href="#location">Location</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">Team</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-video">
                <iframe src="{{site.trailer}}"
                        width="580" height="326" frameborder="0" webkitallowfullscreen mozallowfullscreen
                        allowfullscreen></iframe>
            </div>
            <div class="intro-content">
                <div id="header-logo"></div>
                <div>
                    <a href="#register" class="register-btn page-scroll btn btn-xl">Register</a>
                    {% if site.showCallForProposals == true %}
                    <a href="#proposal" class="proposal-btn page-scroll btn btn-xl">Proposal</a>
                    {% endif %}
                </div>
                <div class="intro-video-message intro-heading">
                    <a href="#introvideoModal" class="speaker-link" data-toggle="modal">
                        <i class="fa fa-play-circle" aria-hidden="true"></i>&nbsp;Trailer {{site.year}}
                    </a>
                </div>
            </div>
        </div>
    </div>

</header>
<div class="speaker-modal modal fade" id="introvideoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Trailer</h2>
                        <hr class="star-primary">
                        <p><iframe src="{{site.trailer}}" width="100%" height="350" frameborder="0"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>