<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="top-logo navbar-brand page-scroll" href="#page-top"><img src="{{ site.baseurl }}/img/logo-small.png"> </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                {% if site.showSpeaker== true %}
                <!-- li>
                    <a class="page-scroll" href="#speaker">Speakers</a>
                </li -->
                {% endif %}
                {% if site.showSchedule == true %}
                <li>
                    <a class="page-scroll" href="#schedule">Schedule</a>
                </li>
                {% endif %}
                {% if site.showAbout == true %}
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                {% endif %}
                {% if site.showRegister == true %}
                <li>
                    <a class="page-scroll" href="#register">Tickets</a>
                </li>
                {% endif %}
                <li>
                    <a class="page-scroll" href="#bootcamp">Bootcamp</a>
                </li>
                <li>
                    <a class="page-scroll" href="#lookback">LookBack</a>
                </li>
                {% if site.showCallForProposals == true %}
                <li>
                    <a class="page-scroll" href="#proposal">Proposals</a>
                </li>
                {% endif %}
                <li>
                    <a class="page-scroll" href="#location">Location</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">Team</a>
                </li>
                {% if site.showContribution == true %}
                <li>
                    <a class="page-scroll" href="#contribute" style="border-bottom: 2px solid white"><i class="fa fa-bullhorn"></i> Join Us</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        {% if site.headerType == "thanks" %}
        <div class="thanks-panel">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Thank You</h2>
                    <h3>for Attending the Agile Tour Vienna 2017</h3>
                </div>
            </div>
            <div class="row text-center hidden-xs hidden-sm hidden-md" style="margin-top: 70px;">
                <div class="col-md-6">
                    <iframe src="https://player.vimeo.com/video/247307155" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    <h4 class="service-heading">On psychological safety, intelligent teams, and other cool psychology buzzwords</h4>
                    <p>Joseph Pelrine and Jasmine Zahno</p>
                </div>
                <div class="col-md-6">
                    <iframe src="https://player.vimeo.com/video/247308385" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    <h4 class="service-heading">A new "ad-hoc" manifesto</h4>
                    <p>Harry Harrold and Rupert Redington</p>
                </div>
            </div>
            <div class="row text-center" style="margin: 70px 0 100px">
                <a href="https://github.com/agiletourvienna/agiletourvienna.github.io/wiki/Agile-Tour-2017" class="register-btn page-scroll btn btn-xl">Full Look Back of 2017</a>
            </div>
        </div>
        {% endif %}
        {% if site.headerType == "saveTheDate" %}
        <div class="saveTheDate-panel">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Agile Tour 2017</h3>
                    <h2>Save the date</h2>
                    <h3>25. November 2017</h3>
                </div>
            </div>
            <div class="logo"></div>
            <div class="row text-center" style="margin: 70px 0">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfHczdalTaJeeup-0_lPapuEWk01fT0gCSHUNALV-I-m1huQA/viewform" class="register-btn page-scroll btn btn-xl">
                    <span class="long-label">Register for a </span>Ticket Notification
                </a>
            </div>
        </div>
        {% endif %}
        {% if site.headerType == "trailer" %}
        <div class="trailer-panel">
            <div class="video">
                <iframe src="{{site.trailer}}"
                        width="580" height="326" frameborder="0" webkitallowfullscreen mozallowfullscreen
                        allowfullscreen></iframe>
            </div>
            <div class="content">
                <div class="logo"></div>
                <div>
                    <h2>
                        <a class="twitter-link" href="https://twitter.com/hashtag/{{site.hashtag}}" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i>&nbsp;#{{site.hashtag}}</a>
                    </h2>
                </div>
                <div>
                    {% if site.showRegister == true %}
                    <a href="#register" class="register-btn page-scroll btn btn-xl">Tickets</a>
                    {% endif %}
                    <!--
                    {% if site.showCallForProposals == true %}
                    <a href="#proposal" class="proposal-btn page-scroll btn btn-xl">Proposal</a>
                    {% endif %}
                    -->
                    <a href="mailto:info@agiletourvienna.at?subject=Anmeldung zum Agile Tour Vienna Newsletter" class="register-btn page-scroll btn btn-xl">
                        Sign up for Newsletter
                    </a>
                </div>
                <div class="heading">
                    <a href="#introVideoModal" class="speaker-link" data-toggle="modal">
                        <i class="fa fa-play-circle" aria-hidden="true"></i>&nbsp;Trailer {{site.year}}
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

</header>
<div class="speaker-modal modal fade" id="introVideoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Trailer</h2>
                        <hr class="star-primary">
                        <p><iframe src="{{site.trailer}}" width="100%" height="350" frameborder="0"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
