<!-- About Section -->
<section id="history">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Look Back</h2>
                <h3 class="section-subheading text-muted">The first Agile Conference in Vienna since 2011.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    {% assign sorted_videos = (site.posts | sort: 'video-sort' | where: "category" , "video") %}
                    {% for post in sorted_videos %}
                    {% assign loopindex = forloop.index | modulo: 2 %}
                    {% if loopindex == 1 %} <li> {% else %} <li class="timeline-inverted"> {% endif %}
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/video/{{post.img}}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{post.speaker}}</h4>
                                <h4 class="subheading">{{post.talk}}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{{post.description}}</p>
                                <p><a href="https://vimeo.com/{{post.vimeo-id}}" target="_blank"><i class="fa fa-vimeo-square" aria-hidden="true"></i>&nbsp;talk onvimeo</a></p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>