{% if site.showCallForProposals == true %}
<!-- Team Section -->
<section id="proposal" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Call for Proposals</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>DATES TO REMEMBER</h3>
                <p>
                  We invite all agile practitioners to present your talks at the Agile Tour Vienna 2019. In the previous years we had a good mixture of German and English talks, so contributions in both languages are welcome.
                </p>
                <p>The Call for Proposals for the main track is open until Sunday, 30 June 2019.</p>
                <p>The Call for Proposals for the "Young Talents" track is open until Saturday, 12 June 2019.</p>
                <p>The Review Team will finish the selection of talks for the "Young Talents" track by the middle of June, and for the main track by middle of July. Everyone who submitted a proposal will be informed once the decision is final. Speakers will receive a free ticket for the Agile Tour Vienna 2019. <strong>The Agile Tour Vienna is a non-profit community event which aims to keep ticket prices low. Therefore, it is not possible to cover travel expenses or pay a speaking fee.</strong></p>
                <p>The conference takes place on Friday, 20 September 2019.</p>
                <p>Submit your session here: 
                    <a href="https://www.conftool.pro/agile-tour-vienna-2019">
                        <i class="fa fa-link" aria-hidden="true"></i>
                        www.conftool.pro/agile-tour-vienna-2019
                    </a>
                </p>
                <h3>Topics to cover</h3>
                <p>
                    Talks or workshops should cover subjects from one of the following areas:
                </p>
                <div class="alternativeList">
                    <div>Successful Technical Practices</div>
                    <div>Terrific Transformations</div>
                    <div>Amazing Products</div>
                    <div>Positive Psychology of Agility</div>
                    <div>Reach Out - Agile Beyond IT</div>
                </div>
                <p>
                  In particular, we are looking for contributions involving customers and real-life case studies (the more state-of-the-art and experimental, the merrier – people who dare to try should be on stage). 
                </p>
                <h3>FIND YOUR FORMAT FOR YOUR SESSION</h3>
                <p>
                    Possible session formats are:
                </p>
                <div class="alternativeList">
                    <div>Classical talk</div>
                    <div>Interactive sessions / workshops</div>
                    <div>Practitioner report (case studies)</div>
                    <div>Young Talents (details below)</div>
                </div>
                <p>
                  If your proposed session involves longer exercises or a special format, we can also offer you a 90-minute slot.
                </p>
                <h3>NO AGILE TOUR VIENNA WITHOUT EXPERIMENTS ;)</h3>
                <p>Two things are new this year:</p>
                <div class="alternativeList">
                  <div>The session length is 30 minutes! </div>
                  <div>The Q&A will happen in a separate 30 minutes slot, one for the morning sessions and one for the afternoon sessions. This gives the audience some time to reflect on your session and the opportunity to ask questions in a more direct way.</div>
                </div>


                <h3>FOR YOUNG TALENTS ONLY</h3>
                <p>Based on last year's positive impressions, we will again have the special “Young Talents” track, which is dedicated to supporting young professionals who hold their first session at a conference.</p>
                <p>There is a specific set of requirements for submissions for this track:</p>
                <div class="alternativeList">
                    <div>You are under 30 years old</div>
                    <div>It is your first talk at a conference</div>
                    <div>Your session is a classic talk or practitioner report</div>
                </div>
                <p>Young talents will receive additional support.</p>
                <p>Before the conference:</p>
                <div class="alternativeList">
                    <div>Feedback on your proposal, including the option to get in touch with an expert</div>
                    <div>Individual coaching to prepare you for your talk</div>
                    <div>Option to hold a rehearsal in front of a small audience providing you with valuable feedback</div>
                </div>
                <p>After the conference:</p>
                <div class="alternativeList">
                    <div>Personal feedback from experts</div>
                </div>
                <!-- <h3>Open Space Area</h3>
                <p>This year, you can also propose a short (15 minutes) lightning talk / session. There will be a shorter time slot scheduled after lunch for these talks.</p> -->
                <h3>Downloads</h3>
                <a href="https://github.com/agiletourvienna/agiletourvienna.github.io/raw/master/_upload/proposals/CallForProposals-DescriptionForm2019.docx">
                    <i class="fa fa-download" aria-hidden="true"></i> proposal form
                </a><br/>
                <!--
                <a href="https://github.com/agiletourvienna/agiletourvienna.github.io/raw/master/_upload/proposals/CallForProposals-Example2018-ENG.pdf">
                    <i class="fa fa-download" aria-hidden="true"></i> example proposal EN
                </a><br/>
                <a href="https://github.com/agiletourvienna/agiletourvienna.github.io/raw/master/_upload/proposals/CallForProposals-Example2018-DE.pdf">
                    <i class="fa fa-download" aria-hidden="true"></i> example proposal DE
                </a>
                -->
            </div>
        </div>
    </div>
</section>
{% endif %}
