{% if site.showCallForProposals == true %}
<!-- Team Section -->
<section id="proposal" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Call for Proposals</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 cd-horizontal-timeline">
                <div class="timeline">
                    <div class="events-wrapper">
                        <div class="events">
                            <ol>
                                <li><a href="#" data-date="01/01/2017" class="selected">
                                    <div>1. Jun</div>
                                </a></li>
                                <li><a href="#" data-date="01/05/2017">
                                    <div>2. Oct</div>
                                    <div></div>
                                </a></li>
                                <li><a href="#" data-date="01/07/2017">
                                    <div>16. Oct</div>
                                    <div></div>
                                </a></li>
                                <li><a href="#" data-date="01/09/2017">
                                    <div>31. Oct</div>
                                    <div></div>
                                </a></li>
                            </ol>

                            <span class="filling-line" aria-hidden="true"></span>
                        </div> <!-- .events -->
                    </div> <!-- .events-wrapper -->

                    <ul class="cd-timeline-navigation">
                        <li><a href="#" class="prev inactive">Prev</a></li>
                        <li><a href="#" class="next">Next</a></li>
                    </ul> <!-- .cd-timeline-navigation -->
                </div> <!-- .timeline -->

                <div class="events-content">
                    <ol>
                        <li class="selected" data-date="01/01/2017">
                            <em>June 1st, 2017</em>
                            <h2>Call for Proposals Starts</h2>
                            <p>We invite all agile practitioners to present their talks at Agile Tour 2017. The main
                                conference language is German, but talks in English are also welcome.</p>
                            <h3>Topics</h3>
                            <p>
                                Talks or workshops should cover topics from one of the following areas:
                            </p>
                            <div class="alternativeList">
                                <div>Organization in agile projects or companies</div>
                                <div>Technical best practices and useful tools</div>
                                <div>Requirements and testing in agile projects</div>
                                <div>Economic questions, project performance and business considerations</div>
                            </div>
                            <p>In particular, we are looking for contributions involving customers and real life case
                                studies (the more state-of-the-art and experimental, the merrier – people who dare to
                                try should be on stage). Please bring your customer or customer project with you.
                            </p>
                            <h3>Session Formats</h3>
                            <p>
                                Possible session formats (each 45 minutes) are:
                            </p>
                            <div class="alternativeList">
                                <div>Classical talk</div>
                                <div>Interactive sessions / workshops</div>
                                <div>Practitioner report (case studies)</div>
                            </div>
                            <p>If your proposed session involves longer exercises or a special format, you can also
                                offer a session requiring two 45-minute slots.</p>
                            <p>You will also have the opportunity to engage in discussion with other attendees in an
                                Open Jam area, where you can post topics and questions that anyone can read and reply
                                to. </p>
                        </li>

                        <li data-date="01/05/2017">
                            <em>October 2nd, 2017</em>
                            <h2>Applicants Receive Feedback </h2>
                            <p>
                                During this time, all applicants will have access to the current state of
                                their reviews and can improve their proposal and submit a response.
                                Reviews are submitted by the content committee and reviewers from the community.

                            </p>
                            <h3>Responding to Feedback</h3>
                            <p>
                                Please keep the following in mind during this process:
                            </p>
                            <div class="alternativeList">
                                <div>Your response should focus on any questions or misunderstandings raised by the
                                    reviewers.
                                </div>
                                <div>The review response period is an opportunity to react to the reviews, but not a
                                    requirement to do so. If you feel the reviews are accurate and the reviewers
                                    have not asked any questions, you do not have to respond.
                                </div>
                                <div>Reviews are as submitted by the PC members without coordination between
                                    them. This may lead to inconsistencies.
                                </div>
                                <div>The program committee will read your responses carefully and take this information
                                    into account during the final decision.
                                </div>
                            </div>
                            <p>
                                To submit your response you should <a
                                    href="https://easychair.org/conferences/?conf=atvie17" target="_blank">log on</a> and select your
                                submission from the menu.
                                If you need help, refer to these <a target="_blank" href="https://github.com/agiletourvienna/agiletourvienna.github.io/wiki/Submit-a-Proposal#respond-to-reviews">step-by-step instructions</a>.
                            </p>
                        </li>

                        <li data-date="01/07/2017">
                            <h2>Applicants Submit Response to Feedback</h2>
                            <em>October 16th, 2017</em>
                            <p>
                                This is the deadline for all applicants to submit their responses, which will hopefully
                                resolve any outstanding questions and issues. Based on the reviews, the Content
                                Committee will start to create the schedule and select the final speakers. You will be
                                of their decision, whether you are accepted or not.
                            </p>
                        </li>

                        <li data-date="01/09/2017" style="text-align: center">
                            <em>October 31st, 2017</em>
                            <h2>
                                <i class="fa fa-star" aria-hidden="true" style="color: #D59538;"></i> Final Speaker
                                Announcement
                            </h2>
                            <p>
                                The schedule is finalized and will be announced on the website.
                            </p>
                        </li>
                    </ol>
                </div> <!-- .events-content -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>
                    <a target="_blank" href="https://easychair.org/conferences/?conf=atvie17"
                       class="page-scroll btn btn-xl">Submit your Proposal</a>
                </p>
                <p>
                    <a target="_blank"
                       href="https://github.com/agiletourvienna/agiletourvienna.github.io/wiki/Submit-a-Proposal"><i
                            class="fa fa-question-circle" aria-hidden="true"></i> Need help? Step-by-step
                        instructions here.</a>
                </p>
            </div>
        </div>
        <div class="row review-row">
            <div class="col-lg-12 text-center">
                <p>
                    <a target="_blank" href="https://github.com/agiletourvienna/agiletourvienna.github.io/wiki/Review-Proposals" class="page-scroll btn btn-l review-btn">
                        <i class="fa fa-comments-o" aria-hidden="true"></i> Or help us review proposals
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endif %}
