<!-- Team Section -->
<section id="proposal" class="bg-light-gray">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <h2 class="section-heading">Call for Proposals</h2>
            <h3 class="section-subheading text-muted">We invite all agile practitioners to join Agile Tour 2016 with their talk. <br>The main conference language is German but English talks are appreciated too.</h3>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12">
            <h3>Topics</h3>
            <p>
               Talks or Workshops should cover topics out of one of the following areas:
            </p>
            <ul>
               <li>Organizational topics in agile projects or companies</li>
               <li>Technical best practices and wonderful tools</li>
               <li>Requirements and Testing in agile projects</li>
            </ul>
            <p>
               Economic questions, project performance and business considerations
               In particular we’re looking for contributions that involve customers and real life case studies (the more state-of-the-art and experimental, the merrier – people who dare to try should be on stage). Please bring your customer or customer project with you.
            </p>
            <h3>Session Formats</h3>
            <p>
               Possible session formats (each 45 minutes) are:
            </p>
            <ul>
               <li>Classical talk</li>
               <li>Interactive sessions / workshops</li>
               <li>Practitioner report (case studies)</li>
            </ul>
            <p>For proposals with longer exercises or special formats you can offer sessions that require two 45-minute slots.</p>
            <p>We’ll also provide an opportunity to discuss with other attendees in an Open Jam area where you can post topics or questions for all to see and participate. </p>
            <h3>Deadline and Required Information</h3>
            <p>Please download and fill in the “Speaker Proposal”&nbsp;<strong>template&nbsp;</strong>to prepare your submission (<a href="/getattachment/Call-for-Speakers/CallForProposalsForm2016.docx.aspx">CallForProposalsForm2016.docx</a>). You can also download a&nbsp;<strong>previously accepted proposal as example&nbsp;</strong>on how to write a suitable proposal. There is one available in&nbsp;<a href="/getattachment/Call-for-Speakers/CallForProposals2016-ENG.pdf.aspx">English</a>&nbsp;and one in&nbsp;<a href="/getattachment/Call-for-Speakers/CallForProposals2016-DE.pdf.aspx">German</a>.</p>
            <ul>
               <li>
                  Proposal submission deadline –&nbsp;<strong>September </strong><strong>9<sup>th</sup>, 2016</strong>
               </li>
               <li>
                  Acceptance notification – September 23<sup>rd</sup>, 2016
               </li>
               <li>
                  Confirmation to participate (of you) -&nbsp; September 29<sup>th</sup>, 2016
               </li>
            </ul>
            <p>
               Send your complete proposal to&nbsp;<a href="mailto:info@agiletourvienna.at">info@agiletourvienna.at</a> by&nbsp;<strong>September </strong><strong>9<sup>th</sup>&nbsp;</strong>latest. The program committee will confirm your talk at latest by September 23<sup>rd</sup>, but&nbsp;<strong>we’ll also start accepting individual talks earlier.</strong>
            </p>
            <p>
            </p>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12 text-center">
            <p><br><a href="mailto:info@agiletourvienna.at" class="page-scroll btn btn-xl">Apply now</a>
            </p>
         </div>
      </div>
   </div>
</section>