<!-- Team Section -->
<section id="proposal" class="bg-light-gray">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <h2 class="section-heading">Call for Proposals</h2>
            <h2 class="text-primary">Deadline extended till 16 September 2016!</h2>
            <h3 class="section-subheading text-muted">We invite all agile practitioners to present their talks at Agile Tour 2016. <br>The main conference language is German, but talks in English are also welcome.</h3>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12">
            <h3>Topics</h3>
            <p>
               Talks or workshops should cover topics from one of the following areas:
            </p>
            <ul>
               <li>Organization in agile projects or companies</li>
               <li>Technical best practices and useful tools</li>
               <li>Requirements and testing in agile projects</li>
               <li>Economic questions, project performance and business considerations</li>
            </ul>
            <p>In particular, we are looking for contributions involving customers and real life case studies (the more state-of-the-art and experimental, the merrier – people who dare to try should be on stage). Please bring your customer or customer project with you.
            </p>
            <h3>Session Formats</h3>
            <p>
               Possible session formats (each 45 minutes) are:
            </p>
            <ul>
               <li>Classical talk</li>
               <li>Interactive sessions / workshops</li>
               <li>Practitioner report (case studies)</li>
            </ul>
            <p>If your proposed session involves longer exercises or a special format, you can also offer a session requiring two 45-minute slots.</p>
            <p>You will also have the opportunity to engage in discussion with other attendees in an Open Jam area, where you can post topics and questions that anyone can read and reply to. </p>
            <h3>Deadline and Required Information</h3>
            <p>Please download and complete the “Speaker Proposal”&nbsp;<strong>template&nbsp;</strong>to prepare your submission (<a href="https://github.com/agiletourvienna/agiletourvienna.github.io/raw/master/_upload/proposals/CallForProposalsForm2016.docx">CallForProposalsForm2016.docx</a>). You can also download a&nbsp;<strong>previously accepted proposal&nbsp;</strong>as an example of how to write a suitable proposal. There is an example available in&nbsp;<a href="https://github.com/agiletourvienna/agiletourvienna.github.io/raw/master/_upload/proposals/CallForProposals2016-EN.pdf">English</a>&nbsp;and one in&nbsp;<a href="https://github.com/agiletourvienna/agiletourvienna.github.io/raw/master/_upload/proposals/CallForProposals2016-DE.pdf">German</a>.</p>
            <ul>
               <li>
                  Proposal submission deadline –&nbsp;<strong class="text-primary">16 September 2016</strong>
               </li>
               <li>
                  Acceptance notification – 23 September 2016
               </li>
               <li>
                  Confirmation of your attendance -&nbsp; 29 September 2016
               </li>
            </ul>
            <p>
               Send your completed proposal to&nbsp;<a href="mailto:info@agiletourvienna.at">info@agiletourvienna.at</a> by&nbsp;<strong>no later than 9 September 2016</strong>. The program committee will confirm your talk by 23 September 2016 at the latest, but&nbsp;<strong>we will start accepting individual talks earlier.</strong>
            </p>
            <p>
            </p>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12 text-center">
            <p><br><a href="mailto:info@agiletourvienna.at" class="page-scroll btn btn-xl">Apply now</a>
            </p>
         </div>
      </div>
   </div>
</section>
