{% if site.showRegister == true %}
<!-- Team Section -->
<section id="register">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Tickets</h2>
                <h3 class="section-subheading text-muted">
                    <p>Buy your ticket safe and early, or cheap and risky - your choice!</p>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="grid">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6 pricing-info-pic"></div>
                        <div class="col-md-6 col-md-pull-6 pricing-info-text">
                            <h4>Prices</h4>
                            <p>
                                This year the ticket <b>price will decrease over time</b> according to the table.</span>
                                Learn more about this pricing strategy in
                                <a href="https://techtalk.at/2017/agile-tour-vienna-2017" style="white-space: nowrap;">
                                    <b>our blog&nbsp;post</b>
                                </a>
                                The <b>current number of tickets left</b> can be seen on <a target="_blank"
                                                                                     href="https://www.eventbrite.de/e/agile-tour-vienna-2017-tickets-34819576290">Eventbrite</a>.
                                .
                            </p>

                            <h4>Types</h4>
                            <p>
                                We offer <b><a target="_blank"
                                               href="https://www.eventbrite.de/e/agile-tour-vienna-2017-tickets-34819576290">combi&nbsp;tickets</a></b>
                                which include the <a href="#bootcamp">bootcamp</a>, <b><a target="_blank"
                                                                                    href="https://www.eventbrite.de/e/agile-tour-vienna-2017-tickets-34819576290">regular&nbsp;tickets</a></b>
                                for the conference only, and <b><a target="_blank"
                                                                   href="https://www.eventbrite.de/e/agile-tour-vienna-2017-tickets-34819576290">student&nbsp;tickets</a></b>
                                reserved for a fixed price of 15&euro;.
                            </p>

                            <h4>Waiting List & Refunding</h4>
                            <p>
                                In the past, we had a waiting list and provided a full refund up to a few days before the tour, reselling unneeded tickets to people on the waiting list.
                                This year we will outsource this mechanism to an established external service, <a target="_blank" href="https://ticketswap.at">TicketSwap</a>, where attendees can offload unneeded tickets.
                            </p>
                            <div class="btn-container">
                                <a target="_blank"
                                   href="https://www.eventbrite.de/e/agile-tour-vienna-2017-tickets-34819576290"
                                   class="page-scroll btn btn-xl">Get your ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endif %}
