{% if site.showReviewerContribution == true %}

<section id="contributeReviewer" class="dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Support us as a review team member</h2>
        <h3>&nbsp;</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="col-md-6" style="color: white; margin-bottom: 50px;">
          <br/><br/>
          <p>
            Just as in previous years, we want the Agile Tour Vienna 2018 to feature a high-quality and well-balanced schedule. You can help us actively shape this year’s schedule by becoming a review team member.
          </p>
          <h5>How can you get on board?</h5>
          <ul>
            <li>Send your curriculum vitae to <a href="mailto:info@agiletourvienna.at">info@agiletourvienna.at</a> by May 31, 2018</li>
            <li>Include a cover letter describing why you are the perfect fit for our review team</li>
          </ul>
          <h5>What do we need from you?</h5>
          <ul>
            <li>Attend three meetings (in September and October) at the TechTalk Office in Vienna</li>
            <li>Motivate and encourage people in your network to submit proposals</li>
            <li>Read and evaluate every proposal (approx. 50)</li>
            <li>Very good German and English skills; proposals can be submitted in both German and English</li>
          </ul>
          <p class="signature">The Agile Tour Vienna Team</p>
        </div>
        <div class="col-md-6 img">

        </div>
        <div class="clearfix"></div>
      </div>
      </form>
    </div>
  </div>
  </div>
</section>

{% endif %}
