{% if site.showSpeaker == true %}
<section id="speaker" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Keynotes</h2>
                <h3 class="section-subheading text-muted">We're very excited to announce our first confirmed keynote speaker for the Agile Tour Vienna 2018!</h3>
            </div>
        </div>
        <div class="row">
            {% for speaker in site.speaker %}
            {% assign loopindex = forloop.index %}
                <div class="col-sm-12 col-xs-12 speaker-item">
                    <div class="max-width-wrapper">
                    <div href="#speakerModal{{loopindex}}" class="speaker-link" data-toggle="modal">
                        <div class="speaker-hover">
                            <div class="speaker-hover-content">
                                <i class="fa fa-ellipsis-h fa-3x"></i>
                            </div>
                        </div>
                        <a href="#speakerModal{{loopindex}}"><img src="img/speaker/{{ speaker.pic }}.png" class="img-responsive img-centered" alt=""></a>
                        {% if speaker.trainings %}
                        <div class="speaker-trainings">
                            <div class="speaker-trainings-header"><i class="fa fa-graduation-cap" aria-hidden="true"></i> upcoming trainings: </div>
                            {% for training in speaker.trainings %}
                            <div class="speaker-trainings-item">
                                <a href="{{training.link}}">{{training.name}}</a>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="speaker-caption">
                        <h4>{{ speaker.name }}</h4>
                        {% if speaker.twitter %}
                        <p class="text-muted"><a href="http://twitter.com/{{ speaker.twitter }}" target="_blank">@{{ speaker.twitter }}</a></p>
                        {% endif %}
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% for speaker in site.speaker %}
{% assign loopindex = forloop.index %}  
<div class="speaker-modal modal fade" id="speakerModal{{loopindex}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ speaker.name }}</h2>
                        <hr class="star-primary">
                        <img style="max-height: 250px" src="img/speaker/{{ speaker.pic }}.png" class="img-responsive img-centered" alt="{{ speaker.name }}">
                        <p> {{ speaker.bio }}</p>
                        <ul class="list-inline item-details">
                            {% if speaker.twitter %}
                            <li>twitter:
                                <strong><a href="http://twitter.com/{{ speaker.twitter }}" target="_blank">@{{ speaker.twitter }}</a>
                                </strong>
                            </li>
                            {% endif %}
                            {% if speaker.facebook %}
                            <li>
                                facebook:
                                <strong>
                                    <a href="{{speaker.facebook}}" target="_blank">{{ speaker.facebook }}</a>
                                </strong>
                            </li>
                            {% endif %}
                            <li>www:
                                <strong><a href="http://{{speaker.www}}" target="_blank">{{ speaker.www }}</a>
                                </strong>
                            </li>
                            {% if speaker.soundcloud %}
                            <li>
                                soundcloud:
                                <strong>
                                    <a href="{{speaker.soundcloud}}" target="_blank">{{ speaker.soundcloud }}</a>
                                </strong>
                            </li>
                            {% endif %}
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
