<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Team</h2>

                <h3 class="section-subheading text-muted">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;
                    For general information please send an email to: <a href="mailto:info@agiletourvienna.at">info@agiletourvienna.at</a>
                </h3>
            </div>
        </div>
        <div class="row">
            {% for member in site.team %}
            <div class="col-sm-6 col-lg-3 team-member">
                <div class="container img-responsive img-circle">
                    <a href="mailto:{{ member.mail }}">
                        <div style="background-image: url('img/team/{{ member.pic }}.png')" class="img">
                            <div class="team-hover">
                                <div class="team-hover-content">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <h4 style="font-size: 16px">{{ member.name }}</h4>
                <div class="text-muted">{{ member.position }}</div>
            </div>
            {% endfor %}
            <div class="col-sm-6 col-lg-3 team-member">
                <div class="container img-responsive img-circle">
                    <a target="_blank" href="https://www.youtube.com/watch?v=RWLlalCwX-Y">
                        <div style="background-image: url('img/team/teamvideo.png')" class="img">
                            <div class="team-hover">
                                <div class="team-hover-content">
                                    <i class="fa fa-play"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <h4 style="font-size: 16px"><i class="fa fa-youtube-play" aria-hidden="true"></i> An Introduction</h4>
                <div class="text-muted">from the Organization Team</div>
            </div>
        </div>
        <div class="row content-committee-header">
            <div class="col-lg-12 text-center">
                <h3>Content Committee</h3>
            </div>
        </div>
        <div class="row content-committee">
            <div class="col-sm-0 col-lg-1"></div>
            {% for member in site.committee %}
            <div class="col-sm-6 col-lg-2 team-member">
                <div class="container img-responsive img-circle">
                    <a href="mailto:{{ member.mail }}">
                        <div style="background-image: url('img/team/{{ member.pic }}.png')" class="img">
                            <div class="team-hover">
                                <div class="team-hover-content">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <h4 style="font-size: 16px">{{ member.name }}</h4>
                <div class="text-muted">{{ member.position }}</div>
            </div>
            {% endfor %}
            <div class="col-sm-0 col-lg-1"></div>
        </div>
    </div>
</section>
