<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;
                    Leave us an email: <a href="mailto:info@agiletourvienna.at">info@agiletourvienna.at</a>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/ar.png" class="img-responsive img-circle" alt="">
                    <h4>Andreas Rosenthal</h4>
                    <p class="text-muted">Organization & Accounting</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://www.xing.com/profile/Andreas_RosenthalLevenitschnig"><i
                                class="fa fa-xing"></i></a></li>
                        <li><a href=https://at.linkedin.com/in/andreasr1"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/vw.png" class="img-responsive img-circle" alt="">
                    <h4>Veronika Winter</h4>
                    <p class="text-muted">Organization & Marketing</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://www.xing.com/profile/Veronika_Winter2"><i class="fa fa-xing"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/dl.png" class="img-responsive img-circle" alt="">
                    <h4>David Leitner</h4>
                    <p class="text-muted">Organization & Techguy</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="http://test.at"><i class="fa fa-xing"></i></a></li>
                        <li><a href="http://github.com/duffleit"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>