@import 'variables';

#bootcamp {

  text-align: center;

  .date {
    font-weight: bold;
    margin: 50px;
    font-size: large;
  }

  .table {
    margin-top: 20px;
    text-align: left;
    border: 2px solid #e4e4e4;

    th{
      background-color: #e4e4e4;
    }
    .lession{
      background-color: #f2e1e2;
    }
  }
}
