section.dark {
  background-color: #222;
  background-position: center;
  background-repeat: no-repeat; }
  section.dark .section-heading {
    color: #fff; }


#contributeReviewer h5 {
  color: #BB141A;
  font-style: italic;
  margin-top: 2rem; }

#contributeReviewer .signature {
  font-family: "Reenie Beanie", cursive;
  font-size: 40px;
  padding-left: 10px; }

#contributeReviewer .img{
  background-image: url("/img/contribution.jpg");
  background-size: cover;
  min-height: 500px; }

#contribute {
  text-align: center; }
  #contribute li {
    margin: 0.5rem;
    text-align: center;
    list-style: none; }
    #contribute li i {
      color: #BB141A;
      margin-right: 10px;
      font-size: large;
      margin-left: -40px;
      font-style: normal; }
  #contribute h4 {
    margin: 40px 0;
    display: inline-block;
    padding: 15px;
    border: 3px solid white;
    color: white; }
  #contribute h5 {
    color: #BB141A; }
  #contribute .signature {
    font-family: "Reenie Beanie", cursive;
    font-size: 40px;
    padding-left: 10px; }
  #contribute .img {
    background-image: url("/img/contribution.jpg");
    background-size: cover;
    min-height: 500px; }

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: none; }

nav.navbar-default {
  background-color: #222; }
  nav.navbar-default .top-logo {
    padding: 5px 0 5px 20px; }
    @media (min-width: 768px) and (max-width: 992px) {
      nav.navbar-default .top-logo {
        display: none; } }
  nav.navbar-default .navbar-brand {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #BB141A; }
    nav.navbar-default .navbar-brand :hover, nav.navbar-default .navbar-brand :focus, nav.navbar-default .navbar-brand :active,
    nav.navbar-default .navbar-brand .active {
      color: #A11217; }
  nav.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02); }
  nav.navbar-default .navbar-toggle {
    border-color: #BB141A;
    background-color: #BB141A; }
    nav.navbar-default .navbar-toggle .icon-bar {
      background-color: #fff; }
    nav.navbar-default .navbar-toggle:hover, nav.navbar-default .navbar-toggle:focus {
      background-color: #BB141A; }
  nav.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff; }
    nav.navbar-default .nav li a :hover, nav.navbar-default .nav li a :focus {
      outline: 0;
      color: #BB141A; }
  nav.navbar-default .navbar-nav > .active > a {
    border-radius: 0;
    color: #fff;
    background-color: #BB141A; }
    nav.navbar-default .navbar-nav > .active > a:hover, nav.navbar-default .navbar-nav > .active > a:focus {
      color: #fff;
      background-color: #A11217; }
  @media (min-width: 768px) {
    nav.navbar-default {
      padding: 25px 0;
      border: 0;
      background-color: transparent;
      -webkit-transition: padding .3s;
      -moz-transition: padding .3s;
      transition: padding .3s; }
      nav.navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s; }
      nav.navbar-default .navbar-nav > .active > a {
        border-radius: 3px; } }
nav.navbar-shrink {
  padding: 10px 0;
  background-color: #222; }
  nav.navbar-shrink .navbar-brand {
    font-size: 1.5em; }
  nav.navbar-shrink li a {
    border-width: 0px !important; }

header {
  text-align: center;
  color: #fff;
  background: url("/img/header-bg2.jpg") no-repeat scroll center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
  header .thanks-panel, header .saveTheDate-panel {
    margin-top: 200px;
    color: white; }
    header .thanks-panel h2, header .saveTheDate-panel h2 {
      font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: none;
      font-size: 50px; }
      @media (min-width: 768px) {
        header .thanks-panel h2, header .saveTheDate-panel h2 {
          font-size: 70px; } }
  header .saveTheDate-panel .long-label {
    display: none; }
    @media (min-width: 768px) {
      header .saveTheDate-panel .long-label {
        display: inline; } }
  header .trailer-panel {
    padding-top: 100px;
    padding-bottom: 50px; }
    header .trailer-panel .video {
      display: none;
      float: left; }
    header .trailer-panel .proposal-btn {
      padding: 10px 20px;
      margin: 0 10px;
      border-color: white;
      background-color: transparent !important; }
    header .trailer-panel .register-btn {
      padding: 10px 20px; }
    header .trailer-panel .heading {
      margin: 20px;
      text-transform: uppercase;
      font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 25px;
      font-weight: 700;
      line-height: 50px; }
    header .trailer-panel .logo {
      background: url("/img/agileTourLogoWithDate.png") no-repeat center;
      height: 156px;
      margin: 4rem 0; }
    @media (min-width: 768px) {
      header .trailer-panel {
        padding-top: 200px;
        padding-bottom: 200px; }
        header .trailer-panel .heading {
          margin: 20px;
          text-transform: uppercase;
          font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 25px;
          font-weight: 700;
          line-height: 75px; } }
    @media (min-width: 992px) {
      header .trailer-panel .video {
        display: block; }
      header .trailer-panel .heading {
        display: none; }
      header .trailer-panel .content {
        margin-left: 580px; } }

section#proposal .container {
  max-width: 800px;
  margin: auto; }

/* -------------------------------- 

Primary style

-------------------------------- */
.review-row {
  margin-top: 35px; }
  .review-row .review-btn {
    background-color: #393939;
    color: white;
    margin-left: 10px; }

.cd-horizontal-timeline .events-content li h3 {
  font-size: 15px;
  margin: 20px 0; }
.cd-horizontal-timeline .events-content li h2 {
  margin: 10px 0; }
.cd-horizontal-timeline .events-content li .alternativeList {
  list-style: square;
  margin: 10px 0; }
  .cd-horizontal-timeline .events-content li .alternativeList > div {
    display: list-item;
    margin-left: 20px; }
.cd-horizontal-timeline .events-content li p, .cd-horizontal-timeline .events-content li div {
  margin: auto; }

.cd-horizontal-timeline {
  opacity: 0;
  margin: 2em auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s; }
  .cd-horizontal-timeline ol, .cd-horizontal-timeline ul {
    list-style: none; }
  .cd-horizontal-timeline ol, .cd-horizontal-timeline ul, .cd-horizontal-timeline li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none; }
  .cd-horizontal-timeline.loaded {
    /* show the timeline after events position has been set (using JavaScript) */
    opacity: 1; }
  .cd-horizontal-timeline .timeline {
    position: relative;
    height: 100px;
    width: 90%;
    margin: 0 auto; }
  .cd-horizontal-timeline .events-wrapper {
    position: relative;
    height: 100%;
    margin: 0 40px;
    overflow: hidden; }
    .cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
      /* these are used to create a shadow effect at the sides of the timeline */
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      height: 100%;
      width: 20px; }
    .cd-horizontal-timeline .events-wrapper::before {
      left: 0;
      background-image: -webkit-linear-gradient( left , #f8f8f8, rgba(248, 248, 248, 0));
      background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0)); }
    .cd-horizontal-timeline .events-wrapper::after {
      right: 0;
      background-image: -webkit-linear-gradient( right , #f8f8f8, rgba(248, 248, 248, 0));
      background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0)); }
  .cd-horizontal-timeline .events {
    /* this is the grey line/timeline */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 49px;
    height: 2px;
    /* width will be set using JavaScript */
    background: #dfdfdf;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s; }
  .cd-horizontal-timeline .filling-line {
    /* this is used to create the green line filling the timeline */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #BB141A;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s; }
  .cd-horizontal-timeline .events a {
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 15px;
    color: #333;
    /* fix bug on Safari - text flickering while timeline translates */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0); }
    .cd-horizontal-timeline .events a::after {
      /* this is used to create the event spot */
      content: '';
      position: absolute;
      left: 50%;
      right: auto;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: -5px;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      border: 2px solid #dfdfdf;
      background-color: #f8f8f8;
      -webkit-transition: background-color 0.3s, border-color 0.3s;
      -moz-transition: background-color 0.3s, border-color 0.3s;
      transition: background-color 0.3s, border-color 0.3s; }
    .no-touch .cd-horizontal-timeline .events a:hover::after {
      background-color: #BB141A;
      border-color: #BB141A; }
    .cd-horizontal-timeline .events a.selected {
      pointer-events: none; }
      .cd-horizontal-timeline .events a.selected::after {
        background-color: #BB141A;
        border-color: #BB141A; }
    .cd-horizontal-timeline .events a.older-event::after {
      border-color: #BB141A; }

.cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s; }
  .cd-timeline-navigation a::after {
    /* arrow icon */
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("/img/cd-arrow.svg") no-repeat 0 0; }
  .cd-timeline-navigation a.prev {
    left: 0;
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg); }
  .cd-timeline-navigation a.next {
    right: 0; }
  .no-touch .cd-timeline-navigation a:hover {
    border-color: #BB141A; }
  .cd-timeline-navigation a.inactive {
    cursor: not-allowed; }
    .cd-timeline-navigation a.inactive::after {
      background-position: 0 -16px; }
    .no-touch .cd-timeline-navigation a.inactive:hover {
      border-color: #dfdfdf; }

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin: 2em 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s; }
  .cd-horizontal-timeline .events-content li {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    padding: 0 5%;
    opacity: 0;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
    .cd-horizontal-timeline .events-content li.selected {
      /* visible event content */
      position: relative;
      z-index: 2;
      opacity: 1;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
    .cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
      -webkit-animation-name: cd-enter-right;
      -moz-animation-name: cd-enter-right;
      animation-name: cd-enter-right; }
    .cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
      -webkit-animation-name: cd-enter-left;
      -moz-animation-name: cd-enter-left;
      animation-name: cd-enter-left; }
    .cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
      -webkit-animation-direction: reverse;
      -moz-animation-direction: reverse;
      animation-direction: reverse; }
  .cd-horizontal-timeline .events-content li > * {
    margin: 0 auto; }
  .cd-horizontal-timeline .events-content h2 {
    font-weight: bold;
    font-size: 2.6rem;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.2; }
  .cd-horizontal-timeline .events-content em {
    display: block;
    font-style: italic;
    margin: 10px auto;
    color: #333; }
  .cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
    line-height: 1.6; }

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%); } }
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%); } }
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%); } }
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%); } }
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }
#register .pricing-info-text h4 {
  margin: 40px 0 10px; }
#register .pricing-info-text .btn-container {
  margin: 50px;
  text-align: center; }
#register .pricing-info-pic {
  background: no-repeat center center;
  background-size: contain;
  min-height: 650px;
  margin-bottom: 50px; }
#register .catering {
  background-image: url(img/marriot.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  line-height: 18px;
  margin-top: 10px;
  padding: 20px;
  padding-right: 80px; }
@media (min-width: 992px) {
  #register .pricing-info-pic {
    background-position: center left;
    margin-bottom: 0px; }
  #register .pricing-info-text {
    text-align: right;
    padding-top: 10px;
    padding-right: 40px; }
    #register .pricing-info-text .btn-container {
      margin: 20px 0px;
      text-align: right; } }

.team-member {
  margin-bottom: 50px;
  text-align: center;
  position: relative; }
  .team-member .img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
  .team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none; }
  .team-member p {
    margin-top: 0; }
  .team-member .container {
    height: 200px;
    width: 200px;
    border: 10px solid white;
    margin: auto;
    position: relative;
    overflow: hidden; }
  .team-member .team-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    background-color: rgba(187, 20, 26, 0.7); }
    .team-member .team-hover:hover {
      opacity: 1; }
    .team-member .team-hover .team-hover-content {
      position: absolute;
      top: 50%;
      width: 100%;
      height: 20px;
      margin-top: -24px;
      text-align: center;
      font-size: 30px;
      color: #fff; }

.content-committee .team-member .container {
  height: 140px;
  width: 140px; }

.content-committee-header h3 {
  margin: 40px 0; }

#bootcamp {
  text-align: center; }
  #bootcamp .date {
    font-weight: bold;
    margin: 50px;
    font-size: large; }
  #bootcamp .table {
    margin-top: 20px;
    text-align: left;
    border: 2px solid #e4e4e4; }
    #bootcamp .table th {
      background-color: #e4e4e4; }
    #bootcamp .table .lession {
      background-color: #f2e1e2; }

/*# sourceMappingURL=bundle.css.map */
