@import 'variables';

section.dark {
  background-color: #222;
  background-position: center;
  background-repeat: no-repeat;

  .section-heading {
    color: #fff;
  }
}

#contribute{
  text-align: center;

  li{
    margin: 0.5rem;
    text-align: center;
    list-style: none;

    i{
      color: $primary-color;
      margin-right: 10px;
      font-size: large;
      margin-left: -40px;
      font-style: normal;
    }
  }
  h4{
    margin: 40px 0;
    display: inline-block;
    padding: 15px;
    border: 3px solid white;
    color: white;
  }

  h5{
    color: $primary-color;
  }

  .signature{
    font-family: $signature-font;
    font-size: 40px;
    padding-left: 10px;
  }

  .img{
    background-image: url('/img/contribution.jpg');
    background-size: cover;
    min-height: 500px;
  }
}