#register{

  .pricing-info-text
  {
    h4{
      margin: 40px 0 10px;
    }

    .btn-container{
      margin: 50px;
      text-align: center;
    }
  }

  .pricing-info-pic{
    background: no-repeat center center;
    background-size: contain;
    min-height: 650px;
    margin-bottom: 50px;
  }

  .catering{
    background-image: url(img/marriot.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    line-height: 18px;
    margin-top: 10px;
    padding: 20px;
    padding-left: 80px;
  }
  @media(min-width: 992px) {

    .pricing-info-pic{
      background-position: center left;
      margin-bottom: 0px;
    }

    .pricing-info-text{
      text-align: right;
      padding-top: 10px;

      padding-right: 40px;

      .btn-container {
        margin: 20px 0px;
        text-align: right;
      }
    }
  }
}
