$primary-color: #BB141A;
$secondary-color: #A11217;
$secondary-color-dark: #333;
$muted-color: #6B6B6B;

$primary-font: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary-font: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
$handwritten-font: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, sans-serif;
$signature-font: "Reenie Beanie", cursive;